.container {
  display: flex;
  /* width: 200px; */
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.avatar {
  margin-right: 10px;
}

.button {
  padding: 4px 14px;
  border-radius: 24px;
  margin-left: 10px;
  cursor: pointer;
  color: inherit;
  background-color: rgb(40, 110, 168);
  font-size: 10px;
  transition: background-color 200ms ease-in-out;
}

.button:hover,
.button.focus {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #09c3be;
  }
